{% extends 'base.html.twig' %}

{% block title %}Hello CGVController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    Condition Générale de ventes 
    de produit en ligne à des consommateur particuliers

Préambule 
Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues sur le site Internet manhwagoodies
Le site internet manhwagoodies.com est un service de :
.La societe manhwagoodies
.située 75008 Paris, France 
.adresse URL du site manhwagoodies.com
.nuémero de téléphone

Le site internet manhwagoodies commercialise les produits suivants: Goodies coréen 

Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la passation de sa commande. 
La validation de la commande vaut donc acceptation des conditions générales de vente.

Article 1 - Principes
Les présentes conditions générales expriment l'intégralité des obligations des parties. En ce sens, l'acheteur est réputé les accepter sans réserve.
Les présentes conditions générales de vente s'appliquent à l'exclusion de toutes autres conditions, 
et notamment celles applicables pour les ventes en magasin ou au moyen d'autres circuits de distribution et de commercialisation.
Elles sont accessibles sur le site internet manhwagoodies et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.
Le vendeur et l'acheteur conviennent que les présentes conditions générales régissent exclusivement leur relation. Le vendeur se réserve le droit de modifier ponctuellement ses conditions générales. Elles seront applicables dès leur mise en ligne.
Si une condition de vente venait à faire défaut, elle serait considérée être régie par les usages en vigueur dans le secteur de la vente à distance dont les sociétés ont leur siège en France.
Les présentes conditions générales de vente sont valables jusqu'au  23 fevirer 2023

Article 2 - Contenu
Les présentes conditions générales ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne de biens proposés par le vendeur à l'acheteur, à partir du site internet manhwagoodies.
Les présentes conditions ne concernent que les achats effectués sur le site de manhwagoodies  et livrés exclusivement en métropole ou en Corse. 
Pour toute livraison dans les DOM-TOM ou à l’étranger, il convient d'adresser un message à l’adresse e-mail suivante : contact@goodies.com
Ces achats concernent les produits suivants : Goodies coréen

Article 3 - Informations précontractuelles
L'acheteur reconnaît avoir eu communication, préalablement à la passation de sa commande et à la conclusion du contrat, d'une manière lisible et compréhensible, des présentes conditions générales de vente et de toutes les informations listées à l'article L. 221-5 du code de la consommation.
Sont transmises à l'acheteur, de manière claire et compréhensible, les informations suivantes :
- les caractéristiques essentielles du bien ;
- le prix du bien et/ou le mode de calcul du prix ;










</div>

{% endblock %}
