{% extends 'base.html.twig' %}

{% block title %}New Goodies{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<div class="container">
    <h1 id='titre'>Create new Goodies</h1>

    {{ include('goodies/_form.html.twig') }}
    
    <br>
    <a class="btn btn-warning btn-lg" href="{{ path('goodies_index') }}">back to list</a>
    <br>
    </div>
    <br>
{% endblock %}
