{# <link rel="icon" type="image/png" href="../image/logocoréen2.png"/> #}
<!-- le footer -->
<div id="ft" >
    <div id="bouton">
    <button id="facebook"><i class="fab fa-facebook"  ></i></button>
    <button id="twitter"><i class="fab fa-twitter"></i></button>
    <button id="insta"><i class="fab fa-instagram"></i></button>

    <a href="{{ path('c_g_v') }}" id="cgv">CGV</a>
      <a href="{{ path('home_contact') }}" id="contact"><i class="fas fa-envelope"></i>Contact</a>
      <a href="/pages/aPropos.html" id="propos"><i class="fas fa-info"></i>A propos</a>

      
    </div>

</div>

  