{# <link rel="icon" type="image/png" href="../image/logocoréen2.png"/> #}
<!-- le footer -->
<div id="ft" >
    <div id="bouton">
    <button id="facebook"><i class="fab fa-facebook"  ></i></button>
    <button id="twitter"><i class="fab fa-twitter"></i></button>
    <button id="insta"><i class="fab fa-instagram"></i></button>

    <a href="{{ path('home_condition') }}" id="cgv">CGV</a>
     <a href="{{ path('home_mention')}}" id="mention" >Mentions légales</a>
     <a href="{{ path('home_policy')}}"  id="pc">Politique de Confidentialité</a>
      <a href="{{ path('home_contact') }}" id="contact"><i class="fas fa-envelope"></i>Contact</a>
      
       
    </div>
<p class="text-center text-dark mt-2">&copy; 2022 ID Concept. Créé par Eulalie PETIT
    
  </p>
</div>

  